/*fix weird issue with 5*/


img {
  height: 88px;
}

.container-fluid {
  height: 63vh;
  margin: 0%;
  padding: 0%;
}
.row-att {
	height: inherit;
  width: inherit;
  
}

.cool{
  padding:0px;
}
.cont { 
  height: auto;
  width: 84vh;
}

.mainCol {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(68, 1fr);
  grid-template-rows: repeat(51, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.brickStyle {
  border-width: 1px;
  border-style: solid;
  border-color: green;
}

/* 
  brickgroupA: 21x18 rows: 12 Columns: 14
  brickgroupB: 21x42 rows: 28 col: 14
  brickgroupc: 21x18 same as a
  brickgroupd&f: 24x18 rows 12 col: 16
  brickgroupe: 24x42 rows 28 col: 16
  seperating: col 4 rows 4
  col4: 8 col wide

*/
/* Top skinny Row */
.brickR1C1 { grid-area: 1/1/5/5; }
.brickR1C2 { grid-area: 1/5/5/17; }
.brickR1C3 { grid-area: 1/17/5/21; }
.brickR1C4 { grid-area: 1/21/5/49; }
.brickR1C5 { grid-area: 1/49/5/53; }
.brickR1C6 { grid-area: 1/53/5/65; }
.brickR1C7 { grid-area: 1/65/5/69; }

/* Row with boxes A, B, C*/
.brickR2C1 { grid-area: 5/1/19/5; }
.brickR2C2 { grid-area: 5/5/19/17; }
.brickR2C3 { grid-area: 5/17/19/21; }
.brickR2C4 { grid-area: 5/21/19/49; }
.brickR2C5 { grid-area: 1/49/19/53; }
.brickR2C6 { grid-area: 1/53/19/65; }
.brickR2C7 { grid-area: 1/65/19/69; }

/* skinny Row */
.brickR3C1 { grid-area: 19/1/23/5; }
.brickR3C2 { grid-area: 19/5/23/17; }
.brickR3C3 { grid-area: 19/17/23/21; }
.brickR3C4 { grid-area: 19/21/23/49; }
.brickR3C5 { grid-area: 19/49/23/53; }
.brickR3C6 { grid-area: 19/53/23/65; }
.brickR3C7 { grid-area: 19/65/23/69; }

/* Row with boxes D, E, F*/
.brickR4C1 { grid-area: 23/1/39/5; }
.brickR4C2 { grid-area: 23/5/39/17; }
.brickR4C3 { grid-area: 23/17/39/21; }
.brickR4C4 { grid-area: 23/21/39/49; }
.brickR4C5 { grid-area: 23/49/39/53; }
.brickR4C6 { grid-area: 23/53/39/65; }
.brickR4C7 { grid-area: 23/65/39/69; }

/* skinny Row */
.brickR5C1 { grid-area: 39/1/43/5; }
.brickR5C2 { grid-area: 39/5/43/17; }
.brickR5C3 { grid-area: 39/17/43/21; }
.brickR5C4 { grid-area: 39/21/43/49; }
.brickR5C5 { grid-area: 39/49/43/53; }
.brickR5C6 { grid-area: 39/53/43/65; }
.brickR5C7 { grid-area: 39/65/43/69; }

/* Row for formrly col 4 */
.brickR6C1 { grid-area: 43/1/52/5; }
.brickR6C2 { grid-area: 43/5/52/65; }
.brickR6C7 { grid-area: 43/65/52/69; }


iframe {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 600px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #searchBar {
    width: 75%;
    margin-right: 5px;
  }

  img {
    height: 58px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img {
    height: 58px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  img {
    height: 88px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img {
    height: 88px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  img {
    height: 88px;
  }
}